// Global SCSS
// This SCSS is applied to all files in templates

:root {
  --bg: #2d2d2d;
  --mid: #666666;
  --fg: #d3d0c8;
  --link: #5d89b5;
  --hilight: #5d89b5;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "IBM Plex Sans", "Roboto", "Fira Sans", sans-serif;
}

a {
  color: var(--link);
}

pre {
  font-family: "IBM Plex Mono", "JetBrains Mono", "Fira Code", monospace;
}

.gui {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  > textarea {
    width: 80%;
    height: 100%;
    padding: 0.5em;
    background-color: var(--bg);
    color: var(--fg);
    border-color: var(--mid);
  }

  > .buttons {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    > #submit-paste {
      margin-right: 0.5em;
    }

    > p {
      margin: 0;
      margin-right: 0.25em;
    }

    > .file-area-outer {
      > #submit-file {
        margin-top: 0.75em;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25vw;
      margin-top: 0.25em;

      > .file-area {
        width: 100%;
        position: relative;
        margin-top: 0.5em;

        input[type="file"] {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          cursor: pointer;

          &:valid {
            + {
              .file-dummy {
                border-color: var(--hilight);

                .success {
                  display: inline-block;
                }

                .default {
                  display: none;
                }
              }
            }
          }
        }

        .file-dummy {
          width: 100%;
          padding: 3.125em 0;
          margin-right: 1.25em;
          border: 0.125em dashed var(--mid);
          background-color: var(--bg);
          text-align: center;
          transition: border-color 0.25s ease-in-out;

          .success {
            display: none;
          }
        }

        &:hover {
          .file-dummy {
            border: 0.125em dashed var(--hilight);
          }
        }
      }
    }
  }
}
